Menu:
  "&File":
    value: "Fichier (&F)"
    submenu:
      "New &Window":
        value: "Nouvelle fenêtre (&W)"
      "&New File":
        value: "Nouveau fichier (&N)"
      "&Open File…":
        value: "Ouvrir un fichier... (&O)"
      "Open Folder…":
        value: "Ouvrir un dossier..."
      "Add Project Folder…":
        value: "Ajouter un fichier de projet..."
      "Reopen Last &Item":
        value: "Réouvrir le dernier élément (&I)"
      "Se&ttings":
        value: "Paramètres... (&T)"
      "Config…":
        value: "Configuration..."
      "Init Script…":
        value: "Script d'initialisation..."
      "Keymap…":
        value: "Raccourcis clavier..."
      "Snippets…":
        value: "Snippets..."
      "Stylesheet…":
        value: "Feuille de style..."
      "&Save":
        value: "Enregistrer (&S)"
      "Save &As…":
        value: "Enregistrer sous... (&A)"
      "Save A&ll":
        value: "Enregistrer tout (&L)"
      "&Close Tab":
        value: "Fermer l'onglet (&C)"
      "Close &Pane":
        value: "Fermer le volet (&P)"
      "Clos&e Window":
        value: "Fermer la fenêtre (&E)"
      "E&xit":
        value: "Quitter (&X)"
      "Close All Tabs":
        value: "Fermer tous les onglets"
  "&Edit":
    value: "Édition (&E)"
    submenu:
      "&Undo":
        value: "Annuler (&U)"
      "&Redo":
        value: "Rétablir (&R)"
      "Cu&t":
        value: "Couper (&T)"
      "&Copy":
        value: "Copier (&C)"
      "Copy Pat&h":
        value: "Copier le chemin d'accès (&H)"
      "&Paste":
        value: "Coller (&P)"
      "Select &All":
        value: "Sélectionner tout (&A)"
      "&Toggle Comments":
        value: "Commenter/Décommenter la sélection (&T)"
      Lines:
        value: "Lignes"
        submenu:
          "&Indent":
            value: "Indenter (&I)"
          "&Outdent":
            value: "Désindenter (&O)"
          "&Auto Indent":
            value: "Indentation automatique (&A)"
          "Move Line &Up":
            value: "Déplacer les lignes sélectionnées vers le haut (&U)"
          "Move Line &Down":
            value: "Déplacer les lignes sélectionnées vers le bas (&D)"
          "Du&plicate Lines":
            value: "Dupliquer les lignes sélectionnées (&P)"
          "D&elete Line":
            value: "Supprimer les lignes sélectionnées (&E)"
          "&Join Lines":
            value: "Joindre les lignes sélectionnées (&J)"
      Columns:
        value: "Colonnes"
        submenu:
          "Move Selection &Left":
            value: "Déplacer la sélection vers la gauche (&L)"
          "Move Selection &Right":
            value: "Déplacer la sélection vers la droite (&R)"
      Text:
        value: "Texte"
        submenu:
          "&Upper Case":
            value: "Majusculiser (&U)"
          "&Lower Case":
            value: "Minusculiser (&L)"
          "Delete to End of &Word":
            value: "Supprimer jusqu'à la fin du mot (&W)"
          "Delete to Previous Word Boundary":
            value: "Supprimer jusqu'à la limite de mot précédente"
          "Delete to Next Word Boundary":
            value: "Supprimer jusqu'à la limite de mot suivante"
          "&Delete Line":
            value: "Supprimer les lignes sélectionnées (&D)"
          "&Transpose":
            value: "Transposer (&T)"
      Folding:
        value: "Pliage"
        submenu:
          "&Fold":
            value: "Plier (&F)"
          "&Unfold":
            value: "Déplier (&U)"
          "Unfold &All":
            value: "Tout déplier (&A)"
          "Fol&d All":
            value: "Tout plier (&D)"
          "Fold Level 1":
            value: "Plier (Niveau 1)"
          "Fold Level 2":
            value: "Plier (Niveau 2)"
          "Fold Level 3":
            value: "Plier (Niveau 3)"
          "Fold Level 4":
            value: "Plier (Niveau 4)"
          "Fold Level 5":
            value: "Plier (Niveau 5)"
          "Fold Level 6":
            value: "Plier (Niveau 6)"
          "Fold Level 7":
            value: "Plier (Niveau 7)"
          "Fold Level 8":
            value: "Plier (Niveau 8)"
          "Fold Level 9":
            value: "Plier (Niveau 9)"
      "Reflow Selection":
        value: "Reformater la sélection"
      Bookmark:
        value: "Marque-page"
        submenu:
          "View All":
            value: "Voir tout"
          "Toggle Bookmark":
            value: "Marquer/Démarquer la sélection"
          "Jump to Next Bookmark":
            value: "Passer au marque-page suivant"
          "Jump to Previous Bookmark":
            value: "Passer au marque-page précédent"
      "Select Encoding":
        value: "Sélectionner l'encodage"
      "Go to Line":
        value: "Aller à une ligne spécifique"
      "Select Grammar":
        value: "Sélectionner le langage"
  "&View":
    value: "Affichage (&V)"
    submenu:
      "Toggle &Full Screen":
        value: "Basculer en plein écran (&F)"
      "Toggle Menu Bar":
        value: "Afficher/Cacher la barre de menu"
      Panes:
        value: "Volets"
        submenu:
          "Split Up":
            value: "Fractionner vers le haut ↑"
          "Split Down":
            value: "Fractionner vers le bas ↓"
          "Split Left":
            value: "Fractionner vers la gauche ←"
          "Split Right":
            value: "Fractionner vers la droite →"
          "Focus Next Pane":
            value: "Sélectionner le volet suivant"
          "Focus Previous Pane":
            value: "Sélectionner le volet précédent"
          "Focus Pane Above":
            value: "Sélectionner le volet ci-dessus ↑"
          "Focus Pane Below":
            value: "Sélectionner le volet ci-dessous ↓"
          "Focus Pane On Left":
            value: "Sélectionner le volet sur la gauche ←"
          "Focus Pane On Right":
            value: "Sélectionner le volet sur la droite →"
          "Close Pane":
            value: "Fermer le volet"
      Developer:
        value: "Développeur"
        submenu:
          "Open In &Dev Mode…":
            value: "Ouvrir en mode développeur... (&D)"
          "&Reload Window":
            value: "Actualiser la fenêtre (&R)"
          "Run Package &Specs":
            value: "Lancer les tests de packages (&S)"
          "Toggle Developer &Tools":
            value: "Activer/Désactiver les outils de développement (&T)"
      "&Increase Font Size":
        value: "Augmenter la taille de la police"
      "&Decrease Font Size":
        value: "Diminuer la taille de la police"
      "Re&set Font Size":
        value: "Réinitialiser la taille de la police"
      "Toggle Soft &Wrap":
        value: "Activer/Désactiver le retour à la ligne automatique (&W)"
      "Toggle Command Palette":
        value: "Afficher/Cache la palette de commandes"
      "Toggle Tree View":
        value: "Afficher/Cacher la colonne de navigation"
  "&Selection":
    value: "Sélection (&S)"
    submenu:
      "Add Selection &Above":
        value: "Ajouter une ligne de sélection ci-dessus ↑ (&A)"
      "Add Selection &Below":
        value: "Ajouter une ligne de sélection ci-dessous ↓ (&B)"
      "S&plit into Lines":
        value: "Fractionner en plusieurs lignes (&P)"
      "Single Selection":
        value: "Sélection unique"
      "Select to &Top":
        value: "Sélectionner jusqu'en haut (&T)"
      "Select to Botto&m":
        value: "Sélectionner jusqu'en bas (&M)"
      "Select &Line":
        value: "Sélectionner la ligne (&L)"
      "Select &Word":
        value: "Sélectionner le mot (&W)"
      "Select to Beginning of W&ord":
        value: "Sélectionner jusqu'au début du mot (&O)"
      "Select to Beginning of L&ine":
        value: "Sélectionner jusqu'au début du mot (&I)"
      "Select to First &Character of Line":
        value: "Sélectionner jusqu'au premier caractère de la ligne (&C)"
      "Select to End of Wor&d":
        value: "Sélectionner jusqu'à la fin du mot (&D)"
      "Select to End of Lin&e":
        value: "Sélectionner jusqu'à la fin de la ligne (&E)"
      "Select Inside Brackets":
        value: "Sélectionner l'élément à l'intérieur de crochets"
  "F&ind":
    value: "Rechercher (&I)"
    submenu:
      "Find in Buffer":
        value: "Rechercher dans le buffer..."
      "Replace in Buffer":
        value: "Remplacer dans le buffer..."
      "Select Next":
        value: "Sélectionner l'élément suivant"
      "Select All":
        value: "Tout sélectionner"
      "Toggle Find in Buffer":
        value: "Afficher/Cacher le menu de recherche dans le buffer"
      "Find in Project":
        value: "Rechercher dans le projet..."
      "Toggle Find in Project":
        value: "Afficher/Cacher le menu de recherche dans le projet"
      "Find Next":
        value: "Rechercher l'élément suivant"
      "Find Previous":
        value: "Rechercher l'élément précédent"
      "Replace Next":
        value: "Remplacer l'élément suivant"
      "Replace All":
        value: "Tout remplacer"
      "Clear History":
        value: "Effacer l'historique"
      "Find Buffer":
        value: "Rechercher dans le buffer"
      "Find File":
        value: "Rechercher dans le fichier"
      "Find Modified File":
        value: "Rechercher dans le fichier modifié"
  "&Packages":
    value: "Packages (&P)"
  "&Help":
    value: "Aide (&H)"
    submenu:
      "View &Terms of Use":
        value: "Conditions d'utilisation (&T)"
      "View &License":
        value: "Licence (&L)"
      "&Documentation":
        value: "Documentation (&D)"
      Roadmap:
        value: "Roadmap"
      "Frequently Asked Questions":
        value: "Foire aux questions"
      "Community Discussions":
        value: "Discussions communautaires"
      "Report Issue":
        value: "Signaler un bug"
      "Search Issues":
        value: "Rechercher des bugs"
      "About Atom":
        value: "À propos d’Atom"
      "Welcome Guide":
        value: "Guide d'introduction"
