Settings:
  menu: [
    {
      label: "Core"
      value: "Principal"
    }
    {
      label: "Editor"
      value: "Éditeur"
    }
    {
      label: "System"
      value: "Système"
    }
    {
      label: "Keybindings"
      value: "Raccourcis clavier"
    }
    {
      label: "Packages"
      value: "Packages"
    }
    {
      label: "Themes"
      value: "Thèmes"
    }
    {
      label: "Updates"
      value: "Mises à jour"
    }
    {
      label: "Install"
      value: "Installer"
    }
  ]
  sectionHeadings: [
    {label: "Core Settings", value: "Paramètres principaux"}
    {label: "Editor Settings", value: "Paramètres de l'éditeur"}
    {label: "System Settings", value: "Paramètres système"}
    {label: "Keybindings", value: "Raccourcis clavier"}
    {label: "Installed Packages", value: "Packages installés"}
    {label: "Choose a Theme", value: "Choisir un thème"}
    {label: "Installed Themes", value: "Thèmes installés"}
    {label: "Install Packages", value: "Installer des packages"}
    {label: "Featured Packages", value: "Packages à la une"}
    {label: "Install Themes", value: "Installer des thèmes"}
    {label: "Featured Themes", value: "Thèmes à la une"}
  ]
  subSectionHeadings: [
    {label: "Invisible", value: "Invisible"}
    {label: "Community Packages", value: "Packages créés par la communauté"}
    {label: "Core Packages", value: "Packages principaux"}
    {label: "Development Packages", value: "Packages de développement"}
    {label: "Git Packages", value: "Packages Git"}
    {label: "Community Themes", value: "Thèmes créés par la communauté"}
    {label: "Core Themes", value: "Thèmes principaux"}
    {label: "Development Themes", value: "Thèmes de développement"}
    {label: "Git Themes", value: "Thèmes Git"}
  ]
  settings: {
    notes: [
      {
        id: 'core-settings-note'
        html: 'Ce panel comprend les paramètres principaux d\'Atom, sans lien avec l\'éditeur de texte. Certains packages
               peuvent avoir leurs propres paramètres. Pour plus d\'informations, consultez les pages individuelles de chaque package disponibles dans la <a class="link packages-open">liste des packages</a>.'
      }
      {
        id: 'editor-settings-note'
        html: 'Ce panel comprend les paramètres de l\'éditeur de texte. Il se peut que certains de ces paramètres ne s\'appliquent pas comme prévu pour certains langages.
               Pour plus d\'informations, consultez les pages individuelles de chaque package de langage dans la <a class="link packages-open">liste des packages</a>.'
      }
    ]
    controls: [
      {
        id: 'core.allowPendingPaneItems'
        title: "Prévisualisation des fichiers"
        desc: "Permets de prévisualiser le contenu de fichiers sans avoir à les ajouter à un volet de manière permanente.
        Par exemple, lorsqu'un seul clic est effectué sur un fichier depuis la colonne de navigation à gauche, ce fichier
        est considéré comme étant « provisoire » et sera remplacé par le prochain fichier provisoire ouvert. Cela peut s'avérer utile lorsque vous voulez, par exemple, rechercher une information mais que vous ne vous souvenez
        plus du fichier dans lequel cette information se trouve : vous pouvez donc ouvrir plusieurs fichiers sans avoir à tous
        les fermer une fois l'information trouvée. Plus d'informations (en anglais) sont disponibles sur http://flight-manual.atom.io/, chapitre 2, section « Pending Pane Items »."
      }
      {
        id: 'core.audioBeep'
        title: "Signal sonore"
        desc: "Active le signal sonore (bip) du système lorsque certaines actions ne peuvent pas être exécutées ou lorsqu'aucun résultat n'est trouvé."
      }
      {
        id: 'core.automaticallyUpdate'
        title: "Mises à jour automatiques"
        desc: "Mets à jour Atom automatiquement lorsqu'une nouvelle version est disponible."
      }
      {
        id: 'core.autoHideMenuBar'
        title: "Cacher automatiquement la barre de menu"
        desc: "Cache automatiquement la barre de menu. Une fois l'option activée, la barre de menu pourra être activée et désactivée en appuyant sur Alt. Cette option ne fonctionne que sur Windows et Linux."
      }
      {
        id: 'core.closeEmptyWindows'
        title: "Fermer les fenêtres vides"
        desc: "Si aucun onglet n'est ouvert dans une fenêtre et que la commande « Fermer l'onglet » est utilisée, ferme la fenêtre."
      }
      {
        id: 'core.destroyEmptyPanes'
        title: "Supprimer les volets vides"
        desc: "Lorsque le dernier onglet d'un volet est fermé, ferme le volet en question."
      }
      {
        id: 'core.excludeVcsIgnoredPaths'
        title: "Exclure les chemins ignorés par VCS"
        desc: "Les fichiers et dossiers ignorés par le système VCS (Gestion de versions) du projet actuel seront aussi ignorés par certains packages,
               tels que Fuzzy Finder et Find and Replace. Par exemple, les projets utilisant Git définissent ces chemins dans le fichier .gitignore.
               Certains packages peuvent avoir leurs propres paramètres concernant l'exclusion des fichiers et dossiers ignorés par VCS."
      }
      {
        id: 'core.fileEncoding'
        title: "Encodage de fichier"
        desc: "Encodage des caractères à utiliser par défaut lors de la lecture et de l'écriture de fichiers."
      }
      {
        id: 'core.followSymlinks'
        title: "Utiliser les liens symboliques"
        desc: "Utilise les liens symboliques lors de la recherche et de l'ouverture de fichiers à l'aide de Fuzzy Finder."
      }
      {
        id: 'core.ignoredNames'
        title: "Extensions ignorées"
        desc: "Liste des motifs glob. Les fichiers et les répertoires correspondant à ces motifs seront ignorés par certains packages,
               tels que Fuzzy Finder et Tree View (colonne de navigation à droite)
               Certains packages peuvent avoir leurs propres paramètres concernant les extensions ignorées."
      }
      {
        id: 'core.openEmptyEditorOnStart'
        title: "Ouvrir une fenêtre d'éditeur vide au démarrage"
        desc: "Ouvre automatiquement une fenêtre d'éditeur vide au démarrage du système."
      }
      {
        id: 'core.packagesWithKeymapsDisabled'
        title: "Désactiver les raccourcis clavier des packages"
        desc: "Saisissez ci-dessous des noms de packages pour désactiver leurs raccourcis clavier."
      }
      {
        id: 'core.projectHome'
        title: "Répertoire des projets"
        desc: "Le répertoire contenant vos projets. Les packages créés à l'aide de Package Generator seront enregistrés dans celui-ci par défaut."
      }
      {
        id: 'core.telemetryConsent'
        title: "Envoyer des rapports à l'équipe d'Atom"
        desc: "Permets d'envoyer des rapports de statistiques et d'exceptions à l'équipe d'Atom afin d'aider à l'amélioration du produit."
        select:
          limited: "Permettre l'envoi de statistiques d'utilisation, de rapport d'exceptions et de plantages anonymes"
          no: "N'envoyer aucun rapport ni donnée"
          undecided: "Incertain (Atom vous le demandera à son prochain lancement)"
      }
      {
        id: 'core.useCustomTitleBar'
        title: "Utiliser une barre de titre personnalisée"
      }
      {
        id: 'core.warnOnLargeFileLimit'
        title: "Avertir lors du dépassement de la limite de poids des fichiers"
        desc: "Affiche un avertissement lors de l'ouverture de fichiers dépassant le nombre de mégabytes mentionné."
      }
      {
        id: 'editor.atomicSoftTabs'
        title: "Tabulations soft (Atomic)"
        desc: "Ignore les espaces blancs de tabulations lors du déplacement du curseur."
      }
      {
        id: 'editor.autoIndent'
        title: "Indentation automatique"
        desc: "Indente automatiquement le curseur lors d'une nouvelle ligne."
      }
      {
        id: 'editor.autoIndentOnPaste'
        title: "Indentation automatique (Coller)"
        desc: "Indente automatiquement le texte collé selon l'indentation de la ligne précédente."
      }
      {
        id: 'editor.backUpBeforeSaving'
        title: "Créer une sauvegarde avant l'enregistrement d'un fichier"
        desc: "Créé une copie dupliquée des fichiers avant que ceux-ci ne soient enregistrés afin d'éviter tout problème de corruption de fichiers."
      }
      {
        id: 'editor.confirmCheckoutHeadRevision'
        title: "Permettre d'annuler les derniers changements et de revenir à la dernière révision (HEAD REVISION)"
        desc: "Affiche une fenêtre de confirmation permettant d'annuler tous les derniers changements appliqués à un fichier et de revenir à la révision du dernier commit."
      }
      {
        id: 'editor.fontFamily'
        title: "Police"
        desc: "Le nom de la police (font-family) à utiliser pour le texte écrit dans l'éditeur."
      }
      {
        id: 'editor.fontSize'
        title: "Taille de la police"
        desc: "La taille de la police (font-size) à utiliser pour le texte écrit dans l'éditeur."
      }
      {
        id: 'editor.invisibles.cr'
        title: "Retours chariot (Cr) invisibles"
        desc: "Caractère substitutif à utiliser afin de remplacer les caractères de retour chariot (\\r) lorsque l'option « Afficher les caractères invisibles » est activée."
      }
      {
        id: 'editor.invisibles.eol'
        title: "Retours à la ligne (Eol) invisibles"
        desc: "Caractère substitutif à utiliser afin de remplacer les caractères de nouvelle ligne (\\n) lorsque l'option « Afficher les caractères invisibles » est activée."
      }
      {
        id: 'editor.invisibles.space'
        title: "Espaces invisibles"
        desc: "Caractère substitutif à utiliser afin de remplacer les espaces apparaîssant en début et en fin de fichier lorsque l'option « Afficher les caractères invisibles » est activée."
      }
      {
        id: 'editor.invisibles.tab'
        title: "Tabulations invisibles"
        desc: "Caractère substitutif à utiliser afin de remplacer les caractères de tabulation (\\t) lorsque l'option « Afficher les caractères invisibles » est activée."
      }
      {
        id: 'editor.lineHeight'
        title: "Hauteur des lignes"
        desc: "La hauteur des lignes de l'éditeur."
      }
      {
        id: 'editor.nonWordCharacters'
        title: "Caractères non-alphanumériques"
        desc: "Une chaîne de caractères non-alphanumériques utilisés pour définir les limites de mot."
      }
      {
        id: 'editor.preferredLineLength'
        title: "Longueur de ligne spécifique"
        desc: "Identifie la longueur de la ligne utilisée lors d'un retour à la ligne lorsque l'option « Retour à la ligne automatique à une longueur de ligne spécifique » est activée, en nombre de caractères."
      }
      {
        id: 'editor.scrollPastEnd'
        title: "Défiler au-delà de la fin d'un fichier"
        desc: "Permets de défiler au-delà de la fin d'un fichier."
      }
      {
        id: 'editor.scrollSensitivity'
        title: "Sensibilité de défilement"
        desc: "Détermine la vitesse de défilement de l'éditeur lors de l'utilisation d'une souris ou d'un pavé tactile."
      }
      {
        id: 'editor.showIndentGuide'
        title: "Afficher les lignes d'indentation"
        desc: "Affiche les indicateurs d'identation dans l'éditeur."
      }
      {
        id: 'editor.showInvisibles'
        title: "Afficher les caractères invisibles"
        desc: "Affiche des caractères substitutifs afin de remplacer les caractères invisibles (tabulations, espaces, nouvelles lignes)"
      }
      {
        id: 'editor.showLineNumbers'
        title: "Afficher le nombre de lignes"
        desc: "Affiche le nombre de lignes en bas de l'éditeur."
      }
      {
        id: 'editor.softTabs'
        title: "Tabulations soft"
        desc: "Si l'option « Type de tabulations » est définie sur « auto » et que la détection automatique du type de tabulations échoue, alors ce paramètre sera utilisé à la place.
        Cochez-la si vous souhaitez utiliser des tabulations soft si la détection automatique échoue, ou décochez-la si vous souhaitez utiliser des tabulations hard."
      }
      {
        id: 'editor.softWrap'
        title: "Retour à la ligne automatique"
        desc: "Un retour à la ligne sera automatiquement effectué si les lignes dépassent la largeur de la fenêtre. Si l'option « Retour à la ligne automatique à une longueur de ligne spécifique » est activée,
        un retour à la ligne sera effectué au nombre de caractères défini par l'option « Longueur de ligne spécifique »."
      }
      {
        id: 'editor.softWrapAtPreferredLineLength'
        title: "Retour à la ligne automatique à une longueur de ligne spécifique"
        desc: "Au lieu d'effectuer un retour à la ligne si la largeur de la fenêtre est dépassé, activer cette option effectuera un retour à la ligne au nombre de caractères défini par l'option « Longueur de ligne spécifique ».
        Cela ne prendra effet que si l'option « Tabulations soft » est activée pour tous les langages ou pour le langage actuellement utilisé.
        Remarque : si vous souhaitez cacher l'indication de retour à la ligne (la ligne verticale), vous pouvez désactiver le package wrap-guide."
      }
      {
        id: 'editor.softWrapHangingIndent'
        title: "Indentation des tabulations soft"
        desc: "Lorsque l'option « Tabulations soft » est activée, définit la longueur des indentations supplémentaires appliquées aux retours à la ligne, en nombre de caractères."
      }
      {
        id: 'editor.tabLength'
        title: "Longueur des tabulations"
        desc: "Nombre d'espaces à utiliser pour représenter une tabulation."
      }
      {
        id: 'editor.tabType'
        title: "Type de tabulations"
        desc: 'Détermine le caractère à insérer lorsque la touche Tab est appuyée. Valeurs possibles : « auto », « soft » et « hard ».
        Lorsque la valeur est définie sur « soft » ou « hard », les tabulations soft (espaces) ou les tabulations hard (caractères de tabulation)
        sont utilisées selon l\'option choisie. Lorsque la valeur est définie sur « auto », l\'éditeur se chargera de détecter automatiquement
        le type de tabulations à utiliser en se basant sur les contenus du buffer, ou utilisera la valeur « soft » si la détection automatique échoue.'
      }
      {
        id: 'editor.undoGroupingInterval'
        title: "Intervalle d'application des annulations"
        desc: "L'intervalle de temps en millisecondes pendant laquelle les opérations d'édition de texte sont « groupées » dans l'historique des annulations.
        Par exemple, si l'intervalle est de 10 000 millisecondes, appuyer simultanément sur CTRL et Z annulera les modifications effectuées toutes les 10 secondes.
        La même option s'applique pour l'action « Rétablir » (CTRL+Y)."
      }
      {
        id: 'editor.zoomFontWhenCtrlScrolling'
        title: "Modifier la taille de la police avec défilement + Ctrl"
        desc: "Modifie la taille de la police de l'éditeur lorsque la touche Ctrl et la molette de défilement sont utilisées simultanément."
      }
      {
        id: 'system.windows.file-handler'
        title: 'Ajouter Atom au menu d\'association d\'applications'
        desc: 'Affiche Atom dans le menu « Ouvrir avec > Choisir une autre application » de l\'explorateur Windows afin de rendre l\'association à d\'autres fichiers plus simple.'
      }
      {
        id: 'system.windows.shell-menu-files'
        title: 'Ouvrir avec Atom (Fichier)'
        desc: 'Ajoute l\'option « Ouvrir avec Atom » dans le menu contextuel de l\'explorateur Windows pour les fichiers.'
      }
      {
        id: 'system.windows.shell-menu-folders'
        title: 'Ouvrir avec Atom (Dossier)'
        desc: 'Ajoute l\'option « Ouvrir avec Atom » dans le menu contextuel de l\'explorateur Windows pour les dossiers.'
      }
    ]
  }
